body{
  margin:0;
}


.App {
  text-align: center;
  padding: 15px 50px;
  margin-bottom:0px;
  
}

.header {
  text-align: center;
  background-color: dodgerblue;
  padding: 15px 50px;
  margin-top: 0px;
  margin-bottom: 30px ;
  color:floralwhite;
  font-size: 18px;
  font-weight: bold;
}

.heading-home{
  color:floralwhite;
  font-size: 20px;
  position: absolute;
  left: 12px;
  
}
.heading-title{
  color:floralwhite;
  font-size: 20px;
  font-weight: bolder;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.wrapper {
  display: grid;
  grid-template-columns: 23% 23% 23% 23%;
  grid-gap: 20px;
  background-color: #fff;
  color: #444;
  padding: 0px 20px;
  justify-content: space-between;
}

.box {
  background-color:rgb(222, 251, 253);
  color: rgb(59, 92, 92);
  border-radius: 15px;
  padding: 20px;
  font-size: 150%;
}

.wrapper-card {
  grid-template-columns: 18% 18% 18% 18% 18% ;
  grid-gap: 15px;
  padding: 0px 20px;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

.button-div {
  margin:10px;
}

.post {
  margin:20px auto 40px auto;
  width: 70%;
  height: 300px;
}

.thumb-img {
  height: 150px;
  width: 150px;
}